//
@import '~bootstrap/scss/bootstrap';
@import 'partials/general.scss';

header{
    padding: .7rem 0;
    background-color: rgb(229, 235, 235);
}

main{
    height: calc(100vh - 78px - 55px);
}

footer{
    padding: .7rem 0;
    background-color:  rgb(229, 235, 235);;
}

